obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/conleApp.AssemblyInfo.cs
obj/Debug/net5.0/conleApp.AssemblyInfoInputs.cache
obj/Debug/net5.0/conleApp.GeneratedMSBuildEditorConfig.editorconfig
